<footer class="footer">
    <div class="footer-wave">
 
    </div>
    <div class="footer-content">
        <div class="footer-columns">
            <!-- Column 1 -->
            <div class="footer-column">
                <h3>{{ translations["footerCVExamples"] }}</h3>
                <ul>
                    {% for example in translations["cvExamplesList"] %}
                        <li><a href="{{ example['url'] }}">{{ example['text'] }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- Column 2 -->
            <div class="footer-column">
                <h3>{{ translations["footerCVBlog"] }}</h3>
                <ul>
                    {% for blog in translations["cvBlogList"] %}
                        <li><a href="{{ blog['url'] }}">{{ blog['text'] }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- Column 3 -->
            <div class="footer-column">
                <h3>{{ translations["footerContact"] }}</h3>
                <ul>
                    {% for contact in translations["contactList"] %}
                        <li><a href="{{ contact['url'] }}">{{ contact['text'] }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>{{ translations["footerCopyright"] | safe }}</p>
        </div>
    </div>
</footer>


