    <!-- Header Section -->
    <header class="header">
        <div class="container d-flex justify-content-between align-items-center">
            
            
    <nav class="top-nav">
        <button class="hamburger-menu" aria-label="Toggle navigation">
            ☰
        </button>
    
                <div class="brand-title">CVYarat.com</div>
                <ul class="top-buttons">
                    <li><a href="/#" class="top-button">Anasayfa</a></li>
                    <li><a href="/about" class="top-button">Hakkında</a></li>
                    <li><a href="/contact" class="top-button">İletişim</a></li>
                </ul>                
            </nav>
        </div>
    </header>