<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CVYarat - Hızlı ve Kolay CV Hazırlayın</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    {% include 'common/header.html' %}
    {% include 'index/feature.html' %}
    {% include 'index/hero.html' %}
    {% include 'index/ware_up.html' %}
    {% include 'index/info.html' %}
    {% include 'index/whyisus.html' %}
    {% include 'index/ware_down.html' %}
    {% include 'common/footer.html' %}
    

<script>
document.addEventListener('DOMContentLoaded', function() {
    const hamburgerMenu = document.querySelector('.hamburger-menu');
    const topButtons = document.querySelector('.top-buttons');
    
    if (hamburgerMenu && topButtons) {
        hamburgerMenu.addEventListener('click', function() {
            topButtons.classList.toggle('open');
        });
    }
});
document.addEventListener('DOMContentLoaded', function () {
    // Mevcut URL'yi al
    const currentPath = window.location.pathname;

    // Tüm linkleri kontrol et
    const links = document.querySelectorAll('.top-button');

    links.forEach(link => {
        // Linkin href özelliğini al
        const linkHref = link.getAttribute('href');

        // Eğer URL'ler eşleşirse veya ana sayfa için özel kontrol varsa active sınıfını ekle
        if (currentPath === linkHref || (currentPath === '/' && (linkHref === '#' || linkHref === '/#'))) {
            link.classList.add('active');
        } else {
            link.classList.remove('active');
        }
    });
});


</script>
</body>
</html>
