<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/step2.css"> 
    <link rel="stylesheet" href="/static/css/step3.css">  
    <link rel="stylesheet" href="/static/css/common/header.css">
</head>
<body>
    {% include 'step1/wave_up_step.html' %} 
    <div class="content">
        {% include 'common/header.html' %} 
        <main class="form-container">
            {% include '/step3/form_explain.html' %}
            {% include '/step3/navbar.html' %}
            {% include '/step3/form_explain2.html' %}
            
            <div class="container">
                <div class="form-container">
                    <form method="POST">
                        <input type="hidden" id="selectedTemplate" name="template" value="{{ cv_data.template if cv_data and cv_data.template else '' }}">

                        <div class="carousel">
                            <div class="carousel-container">
                                <img src="/static/images/template1.png" alt="Şablon 1" data-template="1">
                                <div class="overlay-text">Tasarıma Göz Atmak için Tıkla</div>
                                <button type="button" class="select-btn" data-template="1">Seç</button>
                            </div>
                            
                            <div class="carousel-container">
                                <img src="/static/images/template2.png" alt="Şablon 2" data-template="2">
                                <div class="overlay-text">Tasarıma Göz Atmak için Tıkla</div>
                                <button type="button" class="select-btn" data-template="2">Seç</button>
                            </div>
                            
                            <div class="carousel-container">
                                <img src="/static/images/template3.png" alt="Şablon 3" data-template="3">
                                <div class="overlay-text">Tasarıma Göz Atmak için Tıkla</div>
                                <button type="button" class="select-btn" data-template="3">Seç</button>
                            </div>
                        </div>
                    </form>

                    <div class="action-buttons">
                        <button type="button" class="cta-button3" id="prevStep">Önceki Adıma Dön</button>
                        <button type="button" class="cta-button3" id="nextStep" disabled>Sonraki Adım</button>
                    </div>
                </div>
            </div>
        </main>
        {% include 'common/footer.html' %}
    </div>

    <script src="/static/js/step3/step3.js" defer></script>
    
</body>
</html>
