<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doktor CV Örneği</title>
    <link rel="stylesheet" href="./static/css/template1.css">
</head>
<body>
    <link rel="stylesheet" href="./static/css/template1.css">
    <div class="container">
        <!-- Sol Kırmızı Alan -->
        <div class="left-section">
            <img src="file:///Users/atamerterdihan/cv_project/static/images/profilresmi.png" alt="Profil Fotoğrafı">
            <div class="personal-info">
                <h3>Kişisel Bilgiler</h3>
                <ul>
                    <li class="name-container">
                        <img src="file:///Users/atamerterdihan/cv_project/static/images/nameicon.png" alt="Icon" class="icon">
                        <div>
                            <strong>Ad:</strong>
                            <div class=\"name-text\" style=\"margin-left: -8px;\">Ayla Candan</div>
                        </div>
                    </li>
                    <li class="name-container">
                        <img src="file:///Users/atamerterdihan/cv_project/static/images/phone.png" alt="Icon" class="icon">
                        <div>
                            <strong>Tel:</strong>
                            <div class=\"name-text\" style=\"margin-left: -8px;\">+90 212 123 45 67</div>
                        </div>
                    </li>
                    <li class="name-container">
                        <img src="file:///Users/atamerterdihan/cv_project/static/images/mail.png" alt="Icon" class="icon">
                        <div>
                            <strong>E-posta:</strong>
                            <div class=\"name-text\" style=\"margin-left: -8px;\">ornek@cv.com.tr</div>
                        </div>
                    </li>
                    <li class="name-container">
                        <img src="file:///Users/atamerterdihan/cv_project/static/images/location.png" alt="Icon" class="icon">
                        <div>
                            <strong>Adres</Address>:</strong>
                            <div class=\"name-text\" style=\"margin-left: -8px;\">İstanbul</div>
                        </div>
                    </li>
                    <li class="name-container">
                        <img src="file:///Users/atamerterdihan/cv_project/static/images/ehliyet.png" alt="Icon" class="icon">
                        <div>
                            <strong>Ehliyet</Address>:</strong>
                            <div class=\"name-text\" style=\"margin-left: -8px;\">B Sınıfı</div>
                        </div>
                    </li>
                    <li class="name-container">
                        <img src="file:///Users/atamerterdihan/cv_project/static/images/military.png" alt="Icon" class="icon">
                        <div>
                            <strong>Askerlik</Address>:</strong>
                            <div class=\"name-text\" style=\"margin-left: -8px;\">Tecilli</div>
                        </div>
                    </li>
                    <li class="name-container">
                        <img src="file:///Users/atamerterdihan/cv_project/static/images/maried.png" alt="Icon" class="icon">
                        <div>
                            <strong>Medeni Hal:</Address>:</strong>
                            <div class=\"name-text\" style=\"margin-left: -8px;\">Evli</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="skills">
                <h3>DİLLER</h3>
                <ul>
                    <ul>
                        <li style="display: flex; justify-content: space-between;">
                            <span class="text">İngilizce:</span>
                        </span>
                            <span class="stars">⭐⭐⭐⭐⭐</span>

                        </li>
                        <li style="display: flex; justify-content: space-between;">
                            <span class="text">Frnasızca:</span>
                        </span>
                            <span class="stars">⭐⭐⭐</span>
                        </li>
                    </ul>
                </ul>
                <h3>BECERİLER</h3>
                <ul>
                    <li style="display: flex; justify-content: space-between;">
                        <span class="text">MatLab:</span>
                    </span>
                        <span class="stars">⭐⭐⭐⭐⭐</span>
                    </li>
                    <li style="display: flex; justify-content: space-between;">
                        <span class="text">c++:</span>
                    </span>
                        <span class="stars">⭐⭐⭐⭐⭐⭐</span>
                    </li>
                    <li style="display: flex; justify-content: space-between;">
                        <span class="text">Excel:</span>
                    </span>
                        <span class="stars">⭐⭐⭐⭐⭐⭐⭐⭐⭐</span>
                    </li>
                </ul>
                <h3>YETENEKLER</h3>
                <ul>
                    <li style="display: flex; justify-content: space-between;">
                        <span class="text">İletişim:</span>
                    </span>
                        <span class="stars">⭐⭐⭐⭐⭐⭐</span>
                    </li>
                    <li style="display: flex; justify-content: space-between;">
                        <span class="text">Empati:</span>
                    </span>
                        <span class="stars">⭐⭐⭐⭐⭐⭐⭐⭐</span>
                    </li>
                    <li style="display: flex; justify-content: space-between;">
                        <span class="text">Zaman Yönetimi:</span>
                    </span>
                        <span class="stars">⭐⭐⭐⭐⭐⭐</span>
                    </li>
                </ul>
                
            </div>
        </div>

        <!-- Sağ Beyaz Alan -->
        <div class="right-section">
            <div class="name">AYLA CANDAN</div>
            <p>Dinamik ve deneyimli bir kardiyoloji doktoru olarak hastaların sağlığını ön planda tutan, etkili iletişim ve çözüm odaklılık ile öne çıkan bir sağlık profesyoneliyim. Araştırmaya ve ekip çalışmasına yatkınlığım sayesinde sağlık sektöründe fark yaratmaya devam ediyorum.</p>

            <h2 id="experience">Deneyim</h2>
            <div class="timeline">
                <div class="timeline-item">
                    <h3>2018 - 2023</h3>
                    <p><strong>Kardiyoloji Doktoru</strong> - Medika Hastanesi, İzmir</p>
                    <p>Hastane başvuran hastaların kardiyovasküler rahatsızlıklarını teşhis ve tedavi ettim.</p>
                </div>
                <div class="timeline-item">
                    <h3>2017 - 2018</h3>
                    <p><strong>İntörn Doktor</strong> - Ege Üniversitesi, İzmir</p>
                    <p>Haftanın iki günü acil serviste görev aldım.</p>
                </div>
            </div>
            <div style="width: 100%; height: 1px; background-color: #292727; margin: 20px 0;"></div>
            <h2 id="education">Eğitim</h2>
                <div class="timeline">
                    <div class="timeline-item">
                        <h3>2018 - 2023</h3>
                        <p><strong>Makine Mühendisliği</strong> - Ege Üniversitesi, İzmir</p>
                        <p>Mühendislik fakültesi - Lisans - 2.9</p>
                    </div>
                    <div class="timeline-item">
                        <h3>2017 - 2018</h3>
                        <p><strong>Matemetik Fen Bölümü</strong> - Bilgi Anadolu Lisesi, İzmir</p>
                        <p> Lise - 80.4/100</p>
                    </div>
                    
                </div>
                <div style="width: 100%; height: 1px; background-color: #292727; margin: 20px 0;"></div>
            <h2 id="projects">Projeler</h2>
            <div class="timeline">
                <div class="timeline-item">
                    <p><strong>Kalp Hastalıkları Araştırması:</strong> Türkiye'de yapılan kapsamlı bir araştırma.</p>
                </div>
                <div class="timeline-item">
                    <p><strong>Toplum Sağlığı Projesi:</strong> İzmir'de yürütülen bir sosyal sorumluluk projesi.</p>
                </div>
            </div>
            <div style="width: 100%; height: 1px; background-color: #292727; margin: 20px 0;"></div>
            <h2 id="certificates">Sertifikalar</h2>
            <div class="timeline">
                <div class="timeline-item">
                    <p><strong>İleri Yaşam Desteği:</strong> 2020</p>
                </div>
                <div class="timeline-item">
                    <p><strong>Kardiyoloji Güncellemeleri:</strong> 2022</p>
                </div>
            </div>
            <div style="width: 100%; height: 1px; background-color: #292727; margin: 20px 0;"></div>
            <h2 id="references">Referanslar</h2>
            <div class="timeline">
                <div class="timeline-item">
                    <p><strong>Ali Yılmaz</strong> Yeditepe Üniversitesi</p>
                    <p> Öğretim Görevlisi</p>
                </div>
                <div class="timeline-item">
                    <p><strong>Ayşe Kınak</strong> MEg AŞ</p>
                    <p> İK Director</p>
                </div>
            </div>

        </div>
    </div>
</body>
</html>