
        /* Kenar Boşluklarını Kaldır */
        @page {
            margin: 0;
        }

        /* Genel Ayarlar */
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
            width: 100%;
            height: 297mm;
            background-color: #fff;
            margin: 0;
            padding: 0;
        }

        /* Sol Kırmızı Alan */
        .left-section {
            background-color: #f56a6a;
            color: white;
            width: 30%;
            height: 100vh;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .left-section img {
            width: 184px;
            height: 184px;
            margin: 0 auto;
            border-radius: 50%;
            margin-bottom: 15px;
            border: 3px solid white;
            background-color: #d32f2f;
        }

        .personal-info {
            width: 100%;
            text-align: left;
        }

        .personal-info h3 {
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 10px;
            border-bottom: 1px solid white;
            padding-bottom: 5px;
        }

        .personal-info ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .personal-info ul li {
            margin-bottom: 10px;
            font-size: 12px;
            display: flex;
            align-items: center;
        }

        .personal-info ul li img.icon {
            width: 16px;
            height: 16px;
            margin-right: 8px;
            position: relative;
        }

        .skills h3 {
            font-size: 14px;
            margin-bottom: 5px;
            border-bottom: 1px solid white;
            padding-bottom: 3px;
        }

        .skills ul {
            list-style: none;
            padding: 0;
        }

        .skills ul li {
            margin-bottom: 8px;
            font-size: 12px;
            color: white;
            text-align: right;
        }

        /* Sağ Beyaz Alan */
        .right-section {
            width: 70%;
            padding: 20px;
            box-sizing: border-box;
            position: relative;
        }

        .right-section .name {
            font-size: 28px;
            font-weight: bold;
            color: black;
            text-align: left;
            margin-bottom: 10px;
            max-width: 30ch;
            text-transform: uppercase;
        }

        .right-section .name + p { /* ön yazının altındaki çizgi */
            border-bottom: 3px solid #d32f2f;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }

        .right-section h2 { /* h2 başlığı deneyim vs buradan hazırlanır */
            color: #292727;
            font-size: 18px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            position: relative;
            margin-left: 25px; /* Soldan boşluk ekleyerek başlığı sağa kaydırır */
        }
     
        /* Ortak İkon Stili (Mevcut Durum) */
        .right-section h2::before {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 8px;
            background-size: contain;
            background-position: center;
        }

        .right-section h2#experience::before {
            content: '';
            display: inline-block;
            width: 25px; /* İkon genişliği */
            height: 25px; /* İkon yüksekliği */
            background: url("file:///Users/atamerterdihan/cv_project/static/images/job.png") no-repeat;
            background-color: black; /* Arka plan rengi */
            background-size: contain; /* İkonun tam görünmesini sağlar */
            background-position: center; /* İkonu ortalar */
            border: 2px solid #000; /* Siyah çerçeve */
            border-radius: 50%; /* Yuvarlak yapar */
            margin-right: 10px; /* Başlık ile ikon arasındaki boşluk */
            position: absolute;
            left: -37px; /* İkonun sol konumu (başlığa göre ayarlayın) */
            top: 50%; /* Dikey hizalama */
            transform: translateY(-50%); /* Dikey ortalama */
        }


        .right-section h2#education::before {
            content: '';
            display: inline-block;
            width: 25px; /* İkon genişliği */
            height: 25px; /* İkon yüksekliği */
            background: url("file:///Users/atamerterdihan/cv_project/static/images/education.png") no-repeat;
            background-color: black; /* Arka plan rengi */
            background-size: contain; /* İkonun tam görünmesini sağlar */
            background-position: center; /* İkonu ortalar */
            border: 2px solid #000; /* Siyah çerçeve */
            border-radius: 50%; /* Yuvarlak yapar */
            margin-right: 10px; /* Başlık ile ikon arasındaki boşluk */
            position: absolute;
            left: -37px; /* İkonun sol konumu (başlığa göre ayarlayın) */
            top: 50%; /* Dikey hizalama */
            transform: translateY(-50%); /* Dikey ortalama */
        }
        .right-section h2#projects::before {
            content: '';
            display: inline-block;
            width: 25px; /* İkon genişliği */
            height: 25px; /* İkon yüksekliği */
            background: url("file:///Users/atamerterdihan/cv_project/static/images/project.png") no-repeat;
            background-color: black; /* Arka plan rengi */
            background-size: contain; /* İkonun tam görünmesini sağlar */
            background-position: center; /* İkonu ortalar */
            border: 2px solid #000; /* Siyah çerçeve */
            border-radius: 50%; /* Yuvarlak yapar */
            margin-right: 10px; /* Başlık ile ikon arasındaki boşluk */
            position: absolute;
            left: -37px; /* İkonun sol konumu (başlığa göre ayarlayın) */
            top: 50%; /* Dikey hizalama */
            transform: translateY(-50%); /* Dikey ortalama */
        }
        .right-section h2#certificates::before {
            content: '';
            display: inline-block;
            width: 25px; /* İkon genişliği */
            height: 25px; /* İkon yüksekliği */
            background: url("file:///Users/atamerterdihan/cv_project/static/images/sertifika.png") no-repeat;
            background-color: black; /* Arka plan rengi */
            background-size: contain; /* İkonun tam görünmesini sağlar */
            background-position: center; /* İkonu ortalar */
            border: 2px solid #000; /* Siyah çerçeve */
            border-radius: 50%; /* Yuvarlak yapar */
            margin-right: 10px; /* Başlık ile ikon arasındaki boşluk */
            position: absolute;
            left: -37px; /* İkonun sol konumu (başlığa göre ayarlayın) */
            top: 50%; /* Dikey hizalama */
            transform: translateY(-50%); /* Dikey ortalama */
        }
        .right-section h2#references::before {
            content: '';
            display: inline-block;
            width: 25px; /* İkon genişliği */
            height: 25px; /* İkon yüksekliği */
            background: url("file:///Users/atamerterdihan/cv_project/static/images/referance.png") no-repeat;
            background-color: black; /* Arka plan rengi */
            background-size: contain; /* İkonun tam görünmesini sağlar */
            background-position: center; /* İkonu ortalar */
            border: 2px solid #000; /* Siyah çerçeve */
            border-radius: 50%; /* Yuvarlak yapar */
            margin-right: 10px; /* Başlık ile ikon arasındaki boşluk */
            position: absolute;
            left: -37px; /* İkonun sol konumu (başlığa göre ayarlayın) */
            top: 50%; /* Dikey hizalama */
            transform: translateY(-50%); /* Dikey ortalama */
        }
        


        .content ul {
            list-style: none;
            padding: 0;
            margin-left: 40px;
        }

        .content ul li {
            margin-bottom: 10px;
            font-size: 12px;
        }

        .timeline { /* hdeneyimlerin yanındaki dikey çizgi duraklı olan */
            margin-top: 10px;
            padding-left: 20px;
            border-left: 2px solid #343534;
            position: relative;
        }

        .timeline-item {
            margin-bottom: 15px;
            position: relative;
        }

        .timeline-item:before {
            content: '';
            position: absolute;
            top: 50%;
            left: -26px;
            transform: translateY(-50%);
            width: 10px;
            height: 10px;
            background-color: #1f1f1f;
            border-radius: 50%;
        }

        .timeline-item h3 {
            font-size: 14px;
            font-weight: bold;
            margin: 0;
            margin-left: 20px;
        }

        .timeline-item p {
            font-size: 12px;
            margin: 3px 0;
            margin-left: 20px;
        }

        .timeline-item p:nth-child(2) {
            position: relative;
            top: -2px;
        }

        .timeline-item:last-child {
            margin-bottom: 0;
        }
        .stars {
            font-size: 9px; /* İsteğe bağlı: Yıldız boyutunu artırır */
        }

    