<!-- Features Section -->
<section class="features">
    <div class="container">
        <div class="features-slider">
            <ul class="features-list">
                <li class="features-item"><strong>{{ translations['featureH1'] }}:</strong> {{ translations['featureP1'] }}</li>
                <li class="features-item"><strong>{{ translations['featureH2'] }}:</strong> {{ translations['featureP2'] }}</li>
                <li class="features-item"><strong>{{ translations['featureH3'] }}:</strong> {{ translations['featureP3'] }}</li>
            </ul>
        </div>
    </div>
</section>
