   <!-- Features Section -->
   <section class="features">
    <div class="container">
        <div class="features-slider">
            <ul class="features-list">
                <li class="features-item"><strong>Hızlı ve kolay kullanım: </strong> Kullanıcı dostu arayüz.</li>
                <li class="features-item"><strong>Profesyonel şablonlar:</strong> İşverenleri etkileyen tasarımlar.</li>
                <li class="features-item"><strong>Ücretsiz:</strong> Tamamen ücretsiz bir hizmet.</li>
            </ul>
        </div>
    </div>
</section>