<!-- Hero Section -->
<main class="hero">
    <div class="hero-content">
        <div class="hero-text">
            <h1>{{ translations["mainTitle"] | replace('\n', '<br>') | safe}}</h1>
            <p>
                {{ translations["mainDescription"]| replace('\n', '<br>') | safe }}<br>
                <span class="note">{{ translations["note"]| replace('\n', '<br>') | safe }}</span>
            </p>
            <a href="step1" class="cta-button">{{ translations["ctaButton"] | replace('\n', '<br>') | safe}}</a>
        </div>
        <div class="hero-image">
            <img src="/static/images/cv-2-gulsah.png.webp" alt="CV Örnekleri">
        </div>
    </div>
</main>