<!-- Hero Section -->
<main class="hero">
    <div class="hero-content">
        <div class="hero-text">
            <h1>3 Adımda Ücretsiz CV'ni Oluştur.</h1>
            <p>Profesyonel şablonlarla CV'ni hazırla, PDF olarak indir.<br>
                <span class="note">* Üyelik gerektirmez. Hiçbir adımda ücret talep edilmez.</span>
            </p>
            <a href="step1" class="cta-button">Hemen CV Oluştur</a>
        </div>
        <div class="hero-image">
            <img src="/static/images/cv-2-gulsah.png.webp" alt="CV Örnekleri">
        </div>
    </div>
</main>