<!-- Info Section -->
<section class="info-section">
    <div class="info-header">
        <p class="sub-title">Profesyonel Bir Özgeçmiş Oluşturun</p>
        <h2>CVdone ile Etkili Bir CV Oluşturarak İhtimalleri Artırın.</h2>
        <hr>
    </div>
    <div class="info-cards">
        <div class="info-card">
            <img src="icon-lightbulb.svg" alt="Fikir Simgesi">
            <h3>CVdone</h3>
            <p>Sitemizde bulunan online CV oluşturucu ile dakikalar içinde bilgilerinizi girerek CV'nizi oluşturabilirsiniz.</p>
        </div>
        <div class="info-card">
            <img src="icon-share.svg" alt="Paylaşım Simgesi">
            <h3>İndir & Paylaş</h3>
            <p>CV'nizi ücretsiz olarak PDF formatında indirebilir ya da bir mail adresine mail ile PDF olarak gönderebilirsiniz.</p>
        </div>
        <div class="info-card">
            <img src="icon-shield.svg" alt="Gizlilik Simgesi">
            <h3>Veri Gizliliği</h3>
            <p>Oluşturduğunuz CV'niz 1 saat süreyle sunucuda tutulur. 1 saat sonra PDF dosyası sunucudan silinir.</p>
        </div>
    </div>
</section>