<!-- Info Section -->
<section class="info-section">
    <div class="info-header">
        <p class="sub-title">{{ translations["infoHeader"] }}</p>
        <h2>{{ translations["infoSubTitle"] }}</h2>
        <hr>
    </div>
    
    <div class="info-cards">
        <div class="info-card">
            <img src="/static/images/info1.png" alt="Idea Icon">
            <h3>{{ translations["infoFeature1Title"] }}</h3>
            <p>{{ translations["infoFeature1Text"] }}</p>
        </div>
        <div class="info-card">
            <img src="/static/images/info2.png" alt="Share Icon">
            <h3>{{ translations["infoFeature2Title"] }}</h3>
            <p>{{ translations["infoFeature2Text"] }}</p>
        </div>
        <div class="info-card">
            <img src="/static/images/info3.png" alt="Privacy Icon">
            <h3>{{ translations["infoFeature3Title"] }}</h3>
            <p>{{ translations["infoFeature3Text"] }}</p>
        </div>
    </div>
</section>