<section class="steps-section">
    <div class="steps-container">
        <!-- Step 1 -->
        <div class="step">
            <img src="/static/images/step1info.png" alt="{{ translations['step1Title'] }}">
            <h3>{{ translations["step1Title"] }}</h3>
            <p>{{ translations["step1Text"] }}</p>
        </div>
    
        <!-- Step 2 -->
        <div class="step">
            <img src="/static/images/step2info.png" alt="{{ translations['step2Title'] }}">
            <h3>{{ translations["step2Title"] }}</h3>
            <p>{{ translations["step2Text"] }}</p>
        </div>
    
        <!-- Step 3 -->
        <div class="step">
            <img src="/static/images/step3info.png" alt="{{ translations['step3Title'] }}">
            <h3>{{ translations["step3Title"] }}</h3>
            <p>{{ translations["step3Text"] }}</p>
        </div>
    </div>    
</section>
