<div class="accordion-header" onclick="toggleAccordion(this)">Eğitim Bilgileri</div>
<div class="accordion-content" id="education-experiences">
    {% set edu_list = data.education if data.education else [{}] %}
    {% for edu in edu_list %}
    <div class="education-entry">
        <div class="edu-title custom-edu-title">{{ loop.index }}. Eğitim Kurumu Bilgileri</div>
        
        <div class="inline">
            <input type="text" name="edu_school_name[]" value="{{ edu.school_name if edu.school_name else '' }}" placeholder=" " required>
            <label>Okul Adı:(*)</label>
        </div>
        
        <div class="inline faculty-input">
            <input type="text" name="edu_faculty[]" value="{{ edu.faculty_name if edu.faculty_name else '' }}" placeholder=" ">
            <label>Fakülte (Opsiyonel):</label>
        </div>
        
        <div class="grouped3">
            <div class="inline department-input">
                <input type="text" name="edu_department[]" value="{{ edu.department if edu.department else '' }}" placeholder=" ">
                <label>Bölüm (Opsiyonel):</label>
            </div>
            <div class="inline degree-input">
                <select name="edu_degree[]" required>
                    <option value="" disabled hidden {% if not edu.degree %}selected{% endif %}></option>
                    <option value="İlkokul" {% if edu.degree == "İlkokul" %}selected{% endif %}>İlkokul</option>
                    <option value="Ortaokul" {% if edu.degree == "Ortaokul" %}selected{% endif %}>Ortaokul</option>
                    <option value="Lise" {% if edu.degree == "Lise" %}selected{% endif %}>Lise</option>
                    <option value="Önlisans" {% if edu.degree == "Önlisans" %}selected{% endif %}>Ön Lisans</option>
                    <option value="Lisans" {% if edu.degree == "Lisans" %}selected{% endif %}>Lisans</option>
                    <option value="Yüksek Lisans" {% if edu.degree == "Yüksek Lisans" %}selected{% endif %}>Yüksek Lisans</option>
                    <option value="Doktora" {% if edu.degree == "Doktora" %}selected{% endif %}>Doktora</option>
                    <option value="Post-Doktora" {% if edu.degree == "Post-Doktora" %}selected{% endif %}>Post-Doktora</option>
                </select>
                <label>Derece:</label>
            </div>
        </div>

        <div class="four-column">
            <div class="inline">
                <input type="number" name="edu_start_year[]" value="{{ edu.start_year if edu.start_year else '' }}" placeholder=" " required>
                <label>Başlangıç Yılı:(*)</label>
            </div>
            
            <div class="inline">
                <input type="number" name="edu_end_date[]" value="{{ edu.end_year if edu.end_year else '' }}" placeholder=" " min="1900" max="2099">
                <label>Mezuniyet Yılı:(*)</label>
            </div>
            
            <div class="inline">
                <input type="number" name="edu_grade[]" value="{{ edu.grade if edu.grade else '' }}" placeholder=" " step="0.01" min="0" max="100">
                <label>Mezuniyet Puanı:</label>
            </div>
            
            <div class="edu-checkbox-container">
                <input type="checkbox" name="current_edu" class="edu-checkbox" id="current_edu_{{ loop.index }}" onchange="toggleEndDateEdu(this)">
            </div>
            
        </div>
        
        <b class="cta-button_edu remove-btn" onclick="removeEducationEntry(this)">-</b>
    </div>
    {% endfor %}
    
    <div class="edu-add-button-wrapper">
        <a class="cta-button_edu add-btn" onclick="addEducationEntry()">+</a>
    </div>
</div>

