<div class="accordion-header" onclick="toggleAccordion(this)">Eğitim Bilgileri</div>
<div class="accordion-content" id="education-experiences">
    <div class="education-entry">
        <div class="inline">
            <label for="school_name">Okul Adı:</label>
            <input type="text" id="school_name" name="school_name" placeholder="Okul adı">
        </div>

        <div class="inline">
            <label for="degree">Derece:</label>
            <select id="degree" name="degree">
                <option value="">Seçiniz</option>
                <option value="İlkokul">İlkokul</option>
                <option value="Ortaokul">Ortaokul</option>
                <option value="Lise">Lise</option>
                <option value="Önlisans">Ön Lisans</option>
                <option value="Lisans">Lisans</option>
                <option value="Yuksek Lisans">Yüksek Lisans</option>
                <option value="Doktora">Doktora</option>
                <option value="Post-Doktora">Doktora</option>
            </select>
        </div>

        <div class="inline">
            <label for="department">Bölüm (Opsiyonel):</label>
            <input type="text" id="department" name="department_name" value = "" placeholder="Bölüm adı">
        </div>
        <div class="inline">
            <label for="faculty">Fakülte (Opsiyonel):</label>
            <input type="text" id="faculty" name="faculty_name" placeholder="Fakülte adı">
        </div>

        <div class="three-column">
            <div>
                <label for="start_year">Başlangıç Yılı:</label>
                <input type="number" id="start_year" name="education_start_date" placeholder="YYYY" min="1900" max="2099" >
            </div>

            <div>
                <label for="end_year">Mezuniyet Yılı:</label>
                <input type="number" id="end_year" name="education_end_date" placeholder="YYYY" min="1900" max="2099">
            </div>

            <div>
                <label for="currently_studying">Halen devam ediyorum:</label>
                <input type="checkbox" id="currently_studying" name="currently_studying" value="" onchange="toggleEndYear(this)">
            </div>
        </div>
    </div>

    <!-- + ve - Butonları -->
    <div class="action-buttons">
        <a href="#" class="cta-button" onclick="addJob()">+</a>
        <a href="#" class="cta-button" onclick="removeJob()">-</a>
        <!--<button type="button" class="add-education" onclick="addEducation()">+</button> -->
        <!--<button type="button" class="remove-education" onclick="removeEducation()">-</button> -->
    </div>
</div>
