<div class="accordion-header" onclick="toggleAccordion(this)">İş Deneyimleri</div>
<div class="accordion-content" id="job-experiences">
    {% if data.job_experiences %}
        {% for job in data.job_experiences %}
        <div class="job-entry">
            <div class="job-title custom-job-title">1. Şirket Bilgileri</div>
            <div class="grouped2">
                  <!-- Şirket Adı -->
                <div class="inline">
                    <input type="text" class="wide-input" id="job_company_name" name="job_company_name" value="{{ job.company_name }}" placeholder=" " required>
                    <label for="job_company_name">Şirket Adı:(*)</label>
                </div>
                <div class="toggle-container" {% if loop.index0 == 0 %}style="display:none;"{% endif %}>
                    <label for="same_company"></label>
                    <button type="button" class="toggle-button" onclick="toggleSameCompany(this)"></button>
                </div>            
              
            </div>
            <!-- Pozisyon ve Konum -->
            <div class="grouped">
                <div class="inline">
                    <input type="text" class="wide-input" id="job_position" name="job_position" value="{{ job.position }}" placeholder=" " required>
                    <label for="job_position">Pozisyon:(*)</label>
                </div>
                <div class="inline">
                    <input type="text" class="narrow-input" id="job_location" name="job_location" value="{{ job.location }}" placeholder=" " required>
                    <label for="job_location">Konum:(*)</label>
                </div>
            </div>

            <!-- Pozisyon Açıklaması -->
            <div class="inline">
                <textarea id="job_description" name="job_description" class="multi-line" placeholder=" " required>{{ job.description }}</textarea>
                <label for="job_description">Pozisyon Açıklaması:</label>
            </div>

            <!-- Tarihler ve Halen Çalışıyorum -->
            <div class="three-column">
                <div class="inline">
                    <input type="date" id="job_start_date" name="job_start_date" value="{{ job.start_date }}" required>
                    <label for="job_start_date">Başlangıç Tarihi:(*)</label>
                </div>
                <!-- Bitiş Tarihi Bölümü -->
                <div class="inline" id="end_date_container">
                    <input type="date" id="job_end_date" name="job_end_date" value="{{ job.end_date }}" placeholder=" " required>
                    <label for="job_end_date">Bitiş Tarihi:(*)</label>
                </div>
                <div>
                    <input type="checkbox" name="still_working" class="styled-checkbox" onchange="toggleEndDate(this)">
                    <label class="styled-label"></label>
                </div>
            </div>

            <!-- Çalışma Türü ve Lokasyon -->
            <div class="grouped">
                <div class="inline">
                    <select id="work_type" name="work_type" >
                        <option value="" disabled selected hidden>Seçiniz</option>
                        <option value="full_time" {% if job.work_type == "full_time" %}selected{% endif %}>Tam Zamanlı</option>
                        <option value="part_time" {% if job.work_type == "part_time" %}selected{% endif %}>Yarı Zamanlı</option>
                        <option value="intern" {% if job.work_type == "intern" %}selected{% endif %}>Stajyer</option>
                    </select>
                    <label for="work_type">Çalışma Türü (Opsiyonel):</label>
                </div>
                <div class="inline">
                    <select id="work_location" name="work_location" >
                        <option value="" disabled selected hidden>Seçiniz</option>
                        <option value="office" {% if job.work_location == "office" %}selected{% endif %}>Ofis</option>
                        <option value="hybrid" {% if job.work_location == "hybrid" %}selected{% endif %}>Hibrit</option>
                        <option value="remote" {% if job.work_location == "remote" %}selected{% endif %}>Remote</option>
                    </select>
                    <label for="work_location">Çalışma Yeri (Opsiyonel):</label>
                </div>
            </div>
            <b class="cta-button_job remove-btn" onclick="removeJobExperience(this)">-</b>
        </div>
        {% endfor %}
    {% else %}
    <!-- Yeni İş Girişi -->
    <div class="job-entry">
        <div class="job-title custom-job-title">1. Şirket Bilgileri</div>
        <div class="grouped2">
            <div class="inline">
                <input type="text" class="wide-input" id="job_company_name" name="job_company_name" placeholder=" " required>
                <label for="job_company_name">Şirket Adı:(*)</label>
            </div>
            <div class="toggle-container" style="display:none;">
                <label for="same_company"></label>
                <button type="button" class="toggle-button" onclick="toggleSameCompany(this)"></button>
            </div>
        </div>
        <div class="grouped">
            <div class="inline">
                <input type="text" class="wide-input" id="job_position" name="job_position" placeholder=" " required>
                <label for="job_position">Pozisyon:(*)</label>
            </div>
            <div class="inline">
                <input type="text" class="narrow-input" id="job_location" name="job_location" placeholder=" " required>
                <label for="job_location">Konum:(*)</label>
            </div>
        </div>
        <div class="inline">
            <textarea id="job_description" name="job_description" class="multi-line" placeholder=" " required></textarea>
            <label for="job_description">Pozisyon Açıklaması:</label>
        </div>
        <div class="three-column">
            <div class="inline">
                <input type="date" id="job_start_date" name="job_start_date"  placeholder=" " required>
                <label for="job_start_date">Başlangıç Tarihi:(*)</label>
            </div>
            <!-- Bitiş Tarihi Bölümü -->
            <div class="inline" id="end_date_container">
                <input type="date" id="job_end_date" name="job_end_date" placeholder=" " required>
                <label for="job_end_date">Bitiş Tarihi:(*)</label>
            </div>
            <div>
                <input type="checkbox" name="still_working" class="styled-checkbox" onchange="toggleEndDate(this)">
                <label class="styled-label"></label>
            </div>
            
        </div>
        <div class="grouped">
            <div class="wide-input">
                <select id="work_type" name="work_type" >
                    <option value="" disabled selected hidden>Seçiniz</option>
                    <option value="full_time">Tam Zamanlı</option>
                    <option value="part_time">Yarı Zamanlı</option>
                    <option value="intern">Stajyer</option>
                </select>
                <label for="work_type">Çalışma Türü (Opsiyonel):</label>
            </div>
            <div class="narrow-input">
                <select id="work_location" name="work_location" >
                    <option value="" disabled selected hidden>Seçiniz</option>
                    <option value="office">Ofis</option>
                    <option value="hybrid">Hibrit</option>
                    <option value="remote">Remote</option>
                </select>
                <label for="work_location">Çalışma Yeri (Opsiyonel):</label>
            </div>
        </div>
        
        <!-- "-" Butonu -->
             <b class="cta-button_job remove-btn" onclick="removeJobExperience(this)">-</b>
        </div>
        {% endif %}
    </div>

    <!-- "+ Ekle" Butonu -->
    <div class="job-add-button-wrapper">
        <a class="cta-button_job add-btn" onclick="addJobExperience()">+</a>
    </div>
</div>











<div class="accordion-header" onclick="toggleAccordion(this)">İş Deneyimleri</div>
<div class="accordion-content" id="job-experiences">
    {% if data.job_experiences %}
        {% for job in data.job_experiences %}
        <div class="job-entry">
            <div class="job-title custom-job-title">1. Şirket Bilgileri</div>
            <div class="grouped2">
                  <!-- Şirket Adı -->
                <div class="inline">
                    <input type="text" class="wide-input" id="job_company_name" name="job_company_name" value="{{ job.company_name }}" placeholder=" " required>
                    <label for="job_company_name">Şirket Adı:(*)</label>
                </div>
                <div class="toggle-container" {% if loop.index0 == 0 %}style="display:none;"{% endif %}>
                    <label for="same_company"></label>
                    <button type="button" class="toggle-button" onclick="toggleSameCompany(this)"></button>
                </div>            
              
            </div>
            <!-- Pozisyon ve Konum -->
            <div class="grouped">
                <div class="inline">
                    <input type="text" class="wide-input" id="job_position" name="job_position" value="{{ job.position }}" placeholder=" " required>
                    <label for="job_position">Pozisyon:(*)</label>
                </div>
                <div class="inline">
                    <input type="text" class="narrow-input" id="job_location" name="job_location" value="{{ job.location }}" placeholder=" " required>
                    <label for="job_location">Konum:(*)</label>
                </div>
            </div>

            <!-- Pozisyon Açıklaması -->
            <div class="inline">
                <textarea id="job_description" name="job_description" class="multi-line" placeholder=" " required>{{ job.description }}</textarea>
                <label for="job_description">Pozisyon Açıklaması:</label>
            </div>

            <!-- Tarihler ve Halen Çalışıyorum -->
            <div class="three-column">
                <div class="inline">
                    <input type="date" id="job_start_date" name="job_start_date" value="{{ job.start_date }}" required>
                    <label for="job_start_date">Başlangıç Tarihi:(*)</label>
                </div>
                <!-- Bitiş Tarihi Bölümü -->
                <div class="inline" id="end_date_container">
                    <input type="date" id="job_end_date" name="job_end_date" value="{{ job.end_date }}" placeholder=" " required>
                    <label for="job_end_date">Bitiş Tarihi:(*)</label>
                </div>
                <div>
                    <input type="checkbox" name="still_working" class="styled-checkbox" onchange="toggleEndDate(this)">
                    <label class="styled-label"></label>
                </div>
            </div>

            <!-- Çalışma Türü ve Lokasyon -->
            <div class="grouped">
                <div class="inline">
                    <select id="work_type" name="work_type" >
                        <option value="" disabled selected hidden>Seçiniz</option>
                        <option value="full_time" {% if job.work_type == "full_time" %}selected{% endif %}>Tam Zamanlı</option>
                        <option value="part_time" {% if job.work_type == "part_time" %}selected{% endif %}>Yarı Zamanlı</option>
                        <option value="intern" {% if job.work_type == "intern" %}selected{% endif %}>Stajyer</option>
                    </select>
                    <label for="work_type">Çalışma Türü (Opsiyonel):</label>
                </div>
                <div class="inline">
                    <select id="work_location" name="work_location" >
                        <option value="" disabled selected hidden>Seçiniz</option>
                        <option value="office" {% if job.work_location == "office" %}selected{% endif %}>Ofis</option>
                        <option value="hybrid" {% if job.work_location == "hybrid" %}selected{% endif %}>Hibrit</option>
                        <option value="remote" {% if job.work_location == "remote" %}selected{% endif %}>Remote</option>
                    </select>
                    <label for="work_location">Çalışma Yeri (Opsiyonel):</label>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <!-- Yeni İş Girişi -->
    <div class="job-entry">
        <div class="job-title custom-job-title">1. Şirket Bilgileri</div>
        <div class="grouped2">
            <div class="inline">
                <input type="text" class="wide-input" id="job_company_name" name="job_company_name" placeholder=" " required>
                <label for="job_company_name">Şirket Adı:(*)</label>
            </div>
            <div class="toggle-container" style="display:none;">
                <label for="same_company"></label>
                <button type="button" class="toggle-button" onclick="toggleSameCompany(this)"></button>
            </div>
        </div>
        <div class="grouped">
            <div class="inline">
                <input type="text" class="wide-input" id="job_position" name="job_position" placeholder=" " required>
                <label for="job_position">Pozisyon:(*)</label>
            </div>
            <div class="inline">
                <input type="text" class="narrow-input" id="job_location" name="job_location" placeholder=" " required>
                <label for="job_location">Konum:(*)</label>
            </div>
        </div>
        <div class="inline">
            <textarea id="job_description" name="job_description" class="multi-line" placeholder=" " required></textarea>
            <label for="job_description">Pozisyon Açıklaması:</label>
        </div>
        <div class="three-column">
            <div class="inline">
                <input type="date" id="job_start_date" name="job_start_date"  placeholder=" " required>
                <label for="job_start_date">Başlangıç Tarihi:(*)</label>
            </div>
            <!-- Bitiş Tarihi Bölümü -->
            <div class="inline" id="end_date_container">
                <input type="date" id="job_end_date" name="job_end_date" placeholder=" " required>
                <label for="job_end_date">Bitiş Tarihi:(*)</label>
            </div>
            <div>
                <input type="checkbox" name="still_working" class="styled-checkbox" onchange="toggleEndDate(this)">
                <label class="styled-label"></label>
            </div>
            
        </div>
        <div class="grouped">
            <div class="inline">
                <select id="work_type" name="work_type" >
                    <option value="" disabled selected hidden>Seçiniz</option>
                    <option value="full_time">Tam Zamanlı</option>
                    <option value="part_time">Yarı Zamanlı</option>
                    <option value="intern">Stajyer</option>
                </select>
                <label for="work_type">Çalışma Türü (Opsiyonel):</label>
            </div>
            <div class="inline">
                <select id="work_location" name="work_location" >
                    <option value="" disabled selected hidden>Seçiniz</option>
                    <option value="office">Ofis</option>
                    <option value="hybrid">Hibrit</option>
                    <option value="remote">Remote</option>
                </select>
                <label for="work_location">Çalışma Yeri (Opsiyonel):</label>
            </div>
        </div>
    </div>
    {% endif %}

</div>
