<div class="accordion-header" onclick="toggleAccordion(this)">İş Deneyimleri</div>
<div class="accordion-content" id="job-experiences">
    {% set job_list = data.job_experiences if data.job_experiences else [{}] %}
    {% for job in job_list %}
    <div class="job-entry">
        <div class="job-title custom-job-title">Şirket Bilgileri</div>
        <div class="grouped2">
            <div class="inline">
                <input type="text" class="wide-input" name="job_company_name" value="{{ job.company_name if job.company_name else '' }}" placeholder=" " required>
                <label for="job_company_name">Şirket Adı:(*)</label>
            </div>
            <div class="toggle-container" {% if loop.index0 == 0 %}style="display:none;"{% endif %}>
                <button type="button" class="toggle-button" onclick="toggleSameCompany(this)"></button>
            </div>
        </div>

        <div class="grouped">
            <div class="inline">
                <input type="text" class="wide-input" name="job_position" value="{{ job.position if job.position else '' }}" placeholder=" " required>
                <label for="job_position">Pozisyon:(*)</label>
            </div>
            <div class="inline">
                <input type="text" class="narrow-input" name="job_location" value="{{ job.location if job.location else '' }}" placeholder=" " required>
                <label for="job_location">Konum:(*)</label>
            </div>
        </div>

        <div class="inline">
            <textarea name="job_description" class="multi-line" placeholder=" " required>{{ job.description if job.description else '' }}</textarea>
            <label for="job_description">Pozisyon Açıklaması:</label>
        </div>

        <div class="three-column">
            <div class="inline">
                <input type="date" name="job_start_date" value="{{ job.start_date if job.start_date else '' }}" required>
                <label for="job_start_date">Başlangıç Tarihi:(*)</label>
            </div>
            <div class="inline" id="end_date_container">
                <input type="date" name="job_end_date" value="{{ job.end_date if job.end_date else '' }}" placeholder=" " required>
                <label for="job_end_date">Bitiş Tarihi:(*)</label>
            </div>
            <div>
                <input type="checkbox" name="still_working" class="styled-checkbox" onchange="toggleEndDate(this)">
                <label class="styled-label"></label>
            </div>
        </div>
        <div class="grouped2">
            <div class="inline">
                <select id="work_type" name="work_type" >
                    <option value="" disabled selected hidden>Seçiniz</option>
                    <option value="full_time">Tam Zamanlı</option>
                    <option value="part_time">Yarı Zamanlı</option>
                    <option value="intern">Stajyer</option>
                </select>
                <label for="work_type">Çalışma Türü (Opsiyonel):</label>
            </div>
            <div class="inline">
                <select id="work_location" name="work_location" >
                    <option value="" disabled selected hidden>Seçiniz</option>
                    <option value="office">Ofis</option>
                    <option value="hybrid">Hibrit</option>
                    <option value="remote">Remote</option>
                </select>
                <label for="work_location">Çalışma Yeri (Opsiyonel):</label>
            </div>
        </div>

        <b class="cta-button_job remove-btn" onclick="removeJobEntry(this)">-</b>
    </div>
    {% endfor %}

    <div class="job-add-button-wrapper">
        <a class="cta-button_job add-btn" onclick="addJobEntry()">+</a>
    </div>
</div>
