<div class="accordion-header" onclick="toggleAccordion(this)">Referanslar</div>
<div class="accordion-content" id="references-section">
    {% set reference_list = data.references if data.references else [{}] %}
    {% for reference in reference_list %}
    <div class="reference-entry">
        <div class="ref-title custom-ref-title">{{ loop.index }}. Referans Bilgileri</div>

        <div class="inline">
            <input type="text" name="reference_name[]" value="{{ reference.name if reference.name else '' }}" placeholder=" " >
            <label for="reference_name">Referans Adı:</label>
        </div>

        <div class="reference-group">
            <div class="inline position-field">
                <input type="text" name="reference_position[]" value="{{ reference.position if reference.position else '' }}" placeholder=" " >
                <label for="reference_position">Referansın Pozisyonu:</label>
            </div>

            <div class="inline contact-field">
                <input type="text" name="reference_contact[]" value="{{ reference.contact if reference.contact else '' }}" placeholder=" " >
                <label for="reference_contact">İletişim Bilgileri:</label>
            </div>
        </div>

        <!-- "-" Butonu -->
        <b class="cta-button_ref remove-btn" onclick="removeReferenceEntry(this)">-</b>
    </div>
    {% endfor %}

    <!-- "+ Ekle" Butonu -->
    <div id="add-reference-container">
        <a class="cta-button_ref add-btn" onclick="addReferenceEntry()">+</a>
    </div>
</div>
