<div class="accordion-header" onclick="toggleAccordion(this)">Referanslar</div>
<div class="accordion-content" id="references-section">
    <div class="reference-entry">
        <div class="inline">
            <label for="reference_name">Referans Adı:</label>
            <input type="text" id="reference_name" name="reference_name" placeholder="Adı ve Soyadı" >
        </div>

        <div class="inline">
            <label for="reference_position">Pozisyon:</label>
            <input type="text" id="reference_position" name="reference_relation" placeholder="Pozisyon" >
        </div>

        <div class="inline">
            <label for="reference_contact">İletişim Bilgileri:</label>
            <input type="text" id="reference_contact" name="reference_contact" placeholder="Telefon veya E-posta" >
        </div>
    </div>

    <!-- + ve - Butonları -->
    <div class="action-buttons">
        <a href="#" class="cta-button" onclick="addJob()">+</a>
        <a href="#" class="cta-button" onclick="removeJob()">-</a>
        <!--<button type="button" class="add-education" onclick="addEducation()">+</button> -->
        <!--<button type="button" class="remove-education" onclick="removeEducation()">-</button> -->
    </div>
</div>
