<div class="accordion-header" onclick="toggleAccordion(this)">Beceriler</div>
<div class="accordion-content" id="skills-section">
    <div class="skill-entry">
        <div class="inline">
            <label for="skill_name">Beceri:</label>
            <input type="text" id="skill_name" name="technical_skill_name" placeholder="Matlab, C++, Excel vb. ">
        </div>

        <div class="inline">
            <label for="skill_level">Bilgi Seviyesi:</label>
            <select id="skill_level" name="technical_skill_level">
                <option value="">Seçiniz</option>
                <option value="1">1 - Çok Az</option>
                <option value="2">2</option>
                <option value="3">3 - Orta</option>
                <option value="4">4</option>
                <option value="5">5 - Çok İyi</option>
            </select>
        </div>
    </div>

    <!-- + ve - Butonları -->
    <div class="action-buttons">
        <a href="#" class="cta-button" onclick="addJob()">+</a>
        <a href="#" class="cta-button" onclick="removeJob()">-</a>
        <!--<button type="button" class="add-education" onclick="addEducation()">+</button> -->
        <!--<button type="button" class="remove-education" onclick="removeEducation()">-</button> -->
    </div>
</div>
